.settings/*
bin-debug/*
bin-release/*
html-template/*
doc/*
obj/*
_source/*
_build/*
out/*
.idea/*
 
*.actionScriptProperties
*.flexProperties
*.flexLibProperties
*.FlexUnitSettings
*.project

*.flv
*.mp3
*.air
*.svn
*.aiff
*.iml

 
Thumbs.db
*.DS_Store
../*.DS_Store